[class^=col]{
  /* border: 1px solid black;
  background-color: rgba(100, 148, 237, 0.221); */
  min-height: 80px;
}

header{
  background-color: #2c3e50;
}

header{
  height: 80px;
}

.jumbo,
.about{
  background-color: #1abc9c;
}

.footer-top{
  background-color: #3a546d;
}

.footer-bottom{
  background-color: #2c3e50;
}
