[class^=col]{
  /* border: 1px solid black; */
  /* background-color: rgba(100, 148, 237, 0.221); */
}  

.container_fr{
  width: 60%;
  margin: 0 auto;
}  

a{
  color: white;
}  


/* Header */
.top_bar{
  background-color: #2c3e50;
}  

.navbar-brand{
  color: white;
}

.navbar-collapse ul li a{
  color: white;
  text-transform: uppercase;
}  


/* Jumbotron */
.avatar{
  width: 250px;
  height: auto;
}  

h1{
  font-size: 2rem;
  color: black;
  font-weight: bold;
}


/* Star */
.star{
  color: black
}  

.line{
  height: 3px;
  background-color: black;
}  

.bkg_jumbo,
.bkg_about{
  background-color: #1abc9c;
}  


/* Portfolio */

.row .col{
  position: relative;
}

.d_hover{
  display: none;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.col:hover .d_hover{
  display: block;
}

.row .col:hover{
  transform: scale(1.02);
}


/* Contact */
.input-custom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.input-custom::placeholder {
  color: black;
}

.button-custom {
  background-color: #1abc9c;
  border: #1abc9c;
}

.button-custom:hover {
  background-color:#1abc9cab;
}


/* Footer */
.bkg_footer-top{
  background-color: #3a546d;
}

.bkg_footer-top ul li{
  height: 28px;
  aspect-ratio: 1/1;
  line-height: 28px;
}

.bkg_footer-top a:hover{
  background-color: white;
  color: #3a546d;
}

.footer-bottom{
  background-color: #2c3e50;
}
