[class^=col]{
  /* border: 1px solid black; */
  /* background-color: rgba(100, 148, 237, 0.221); */
}

.container_fr{
  width: 60%;
  margin: 0 auto;
}

.bkg_header{
  background-color: #2c3e50;
}

.avatar{
  width: 250px;
  height: auto;
}

h1{
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.star{
  color: black
}

a{
  color: white;
}

.bkg_jumbo,
.bkg_about{
  background-color: #1abc9c;
}

.line{
  height: 3px;
  background-color: black;
}

.footer-top{
  background-color: #3a546d;
}

.footer-bottom{
  background-color: #2c3e50;
}
