[class^=col]{
  /* border: 1px solid black; */
  /* background-color: rgba(100, 148, 237, 0.221); */
}

.container_fr{
  width: 60%;
  margin: 0 auto;
}

.top_bar{
  background-color: #2c3e50;
}

.navbar-brand{
  color: white;
}

.navbar-collapse ul li a{
  color: white;
}

.avatar{
  width: 250px;
  height: auto;
}

h1{
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.star{
  color: black
}

a{
  color: white;
}

.bkg_jumbo,
.bkg_about{
  background-color: #1abc9c;
}

.line{
  height: 3px;
  background-color: black;
}

.input-custom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.input-custom::placeholder {
  color: black;
}

.button-custom {
  background-color: #1abc9c;
  border: #1abc9c;
}

.button-custom:hover {
  background-color:#1abc9cab;
}


.bkg_footer-top{
  background-color: #3a546d;
}

.bkg_footer-top ul li{
  height: 28px;
  aspect-ratio: 1/1;
  line-height: 28px;
}

.bkg_footer-top a:hover{
  background-color: white;
  color: #3a546d;
}

.footer-bottom{
  background-color: #2c3e50;
}
